mixin tabNav(id, titles)
    ul.tab__nav(role="tablist")
        each title, index in titles
            li.tab__item
                button.tab__menu(type="button" id=`tab-${id}-${index + 1}` role="tab" aria-controls=`tab-panel-${id}-${index + 1}` aria-selected=!index ? "true" : "false" data-api="tab")!= title
mixin tabPanel(id, index)
    div(id=`tab-panel-${id}-${index}` class="tab__panel" role="tabpanel" aria-labelledby=`tab--${id}-${index}`)
        block
doctype html
html(lang="ko")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title

            meta(name="author" content="Group IDD 개발그룹")
            meta(name="description" content="")
            meta(name="keywords" content="")
            meta(name="format-detection" content="telephone=no")
            meta(name="format-detection" content="address=no")
            meta(name="author" content="")

            meta(property="og:url" content="")
            meta(property="og:type" content="website")
            meta(property="og:title" content="")
            meta(property="og:image" content="")
            meta(property="og:description" content="")
            meta(property="og:site_name" content="")
            meta(property="og:locale" content="ko_KR")
            meta(property="article:author" content="")

            link(rel="apple-touch-icon" sizes="180x180" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="32x32" href="/favicon.ico")
            link(rel="icon" type="image/png" sizes="16x16" href="/favicon.ico")

            script.
                if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                    window.location = 'microsoft-edge:' + window.location;
                    setTimeout(function () {
                        window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
                    }, 13);
                }

            link(rel="stylesheet" href="/assets/css/vendors.css")
            link(rel="stylesheet" href="/assets/css/app.css")

            script(src="/assets/js/vendors.js")
            script(src="/assets/js/app.js")

            script(src="https://www.googletagmanager.com/gtag/js?id=UA-233743431-1")
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-233743431-1');

    body
        header.header
            div
                h1
                    a(href="/")
                        span WHY NOT?
                nav
                    ul
                        li
                            a.header__link.header__link--active(href="#why-not") WHY NOT?
                        li
                            a.header__link(href="#brand-film") Brand Film
                        li
                            a.header__link(href="#experience") EXPERIENCE
                        li
                            a.header__link(href="#road") ROAD
                        li
                            a.header__link(href="#contents") CONTENTS
                        li
                            a.header__link(href="#collaboration") COLLABORATION
        section#why-not.why-not
            .why-not__wrap
                div.why-not__text.why-not__text01
                    h2(data-aos="fade-right").
                        유플러스의 <br>
                        WHY NOT?
                    p(data-aos="fade-right" data-aos-delay=150).
                        일상의 편견을 깨는 과감한 생각과 도전, <br>
                        고객의 #[strong 일상에 즐거운 변화]를 만들어 가는 <br>
                        LG유플러스만의 실천 캠페인 <br>
                        #[strong WHY NOT]을 소개합니다.

                div.why-not__text.why-not__text02
                    p(data-aos="fade-left" data-aos-delay=300).
                        선 넘는 즐거움 <br>
                        이런 게 유플러스만의
                        #[div(data-aos="fade-left" data-aos-delay=500)(style="background-image: url('/assets/images/img_why_not.png')")]

        section#brand-film.brand-film
            header
                h2(data-aos="fade-up") WHY NOT #[strong Brand Film]
                p(data-aos="fade-up" data-aos-delay=100) 남다른 생각과 도전으로 선 넘는 즐거움을 제공하는 유플러스의 스토리를 소개합니다.

            .tab
                +tabNav('brand-film', [
                    'Why Not 런칭 편',
                    'WHY NOT 디즈니플러스 편',
                    'WHY NOT 유독 편'
                ])
                div.tab__content
                    +tabPanel('brand-film', 1)
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    div
                                        h3 [처음을 이끄는 과감한 도전, Why Not ?]
                                        p.
                                            “할 수 있겠어?” <br>
                                            “그게 될까?” <br>
                                            일상의 즐거운 변화를 위해 편견을 깨고 <br>
                                            과감한 도전들을 먼저 시도하는 유플러스만의 실천 캠페인, “Why Not?”
                                        iframe(src="https://www.youtube.com/embed/CWOgnaDjzcs?controls=0" title="와이낫 런칭편")
                            .swiper-button-control
                                .swiper-button-prev
                                    span prev
                                .swiper-button-next
                                    span next
                    +tabPanel('brand-film', 2)
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    div
                                        h3 [WHY NOT? 아빠와 아들 편]
                                        p.
                                            “같이 보니까 좋지?” “완전!” <br>
                                            어린시절 내가 좋아했던 콘텐츠를,우리 아이와 함께 즐길 수 있다면? <br>
                                            이런 게 유플러스만의 WHY NOT!
                                        iframe(src="https://www.youtube.com/embed/HK0YHM1a-_w?controls=0" title="아빠와 아들 편")
                                .swiper-slide
                                    div
                                        h3 [WHY NOT? 칠공주 편]
                                        p.
                                            “우리 진짜 언제 보냐~” <br>
                                            멀리 떨어져있어도 같이 있는것 같은 생생한 즐거움!✨ <br>
                                            이런 게 유플러스만의 WHY NOT!
                                        iframe(src="https://www.youtube.com/embed/Gh4fA2SYlgM?controls=0" title="칠공주 편")

                            .swiper-button-control
                                .swiper-button-prev
                                    span prev
                                .swiper-button-next
                                    span next
                    +tabPanel('brand-film', 3)
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    div
                                        h3 [WHY NOT? 자유할인 편]
                                        p.
                                            “유독 하고싶은 것 다 하는 사람 있어“ <br>
                                            조건 없이, 부담 없이 할수록 더 할인 받을 수 있다면? <br>
                                            이런 게 유플러스만의 WHY NOT!
                                        iframe(src="https://www.youtube.com/embed/lhVcEIhND0M?controls=0" title="자유할인 편")
                                .swiper-slide
                                    div
                                        h3 [WHY NOT? 편리 편]
                                        p.
                                            “유독 편한 것만 찾는 사람 있어 ” <br>
                                            가입할 때도, 해지할 때도 쉽고 편하게 관리할 수 있다면? <br>
                                            이런 게 유플러스만의 WHY NOT!
                                        iframe(src="https://www.youtube.com/embed/4ZWmDljpgNY?controls=0" title="편리 편")

                            .swiper-button-control
                                .swiper-button-prev
                                    span prev
                                .swiper-button-next
                                    span next

        section#experience.experience
            header
                h2(data-aos="fade-up") WHY NOT #[strong EXPERIENCE]
                p(data-aos="fade-up" data-aos-delay=100) WHY NOT 관점으로 고객의 PAIN POINT를 개선해 나가는 유플러스의 서비스들을 소개합니다.

            div.experience__wrap
                div.experience__img
                    p(data-aos="fade-up" data-aos-delay=200)
                        img(src="/assets/images/img_experience_01.png" alt="티빙")
                    p(data-aos="fade-up" data-aos-delay=300)
                        img(src="/assets/images/img_experience_02.png" alt="요기요")
                    p(data-aos="fade-up" data-aos-delay=400)
                        img(src="/assets/images/img_experience_03.png" alt="넷플릭스")
                    p(data-aos="fade-up" data-aos-delay=500)
                        img(src="/assets/images/img_experience_04.png" alt="윌라")
                    p(data-aos="fade-up" data-aos-delay=600)
                        img(src="/assets/images/img_experience_05.png" alt="일리")

                div.experience__text
                    p(data-aos="fade-left" data-aos-delay=700).
                        일상에 필요한 구독 서비스를 담아 추가 할인까지 받는 <br>
                        나를 위한 구독 서비스 ‘유독’을 소개합니다. <br>
                        #[strong 평범한 일상의 순간도 더 특별하게] <br>
                        #[span 내 일상에 필요한 서비스를 구독!]
                    p(data-aos="fade-left" data-aos-delay=800)
                        a(href="https://www.lguplus.com/pogg" target="_blank") 나만의 구독 시작하기

        section#road.road
            header
                h2(data-aos="fade-up") WHY NOT #[strong ROAD]
                p(data-aos="fade-up" data-aos-delay=100).
                    유플러스의  선 넘는 지역활성화 프로젝트 WHY NOT ROAD ! <br>
                    지자체와 함께 대한민국 전국 8도를 소개합니다. <br>
                    #[strong 유플러스의 혜택이 담긴 대한민국 핫플을 클릭해 보세요!]

            ul.road__list
                 each location, index in ['춘천', '부산', '인천', '울산', '서울']
                     li.road__item
                         a(href=`#road-v${index + 1}`).road__link
                             span= location

            div.road__textBox
                h3.
                    선넘는 즐거움과 혜택이 가득한 <br>
                    지역을 소개합니다.

            div.road__carousel
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            iframe(src="https://www.youtube.com/embed/lxN-pHTiKnA?controls=0" title="춘천")
                        .swiper-slide
                            iframe(src="https://www.youtube.com/embed/c3c_KNatUbc?controls=0" title="부산")
                        .swiper-slide
                            iframe(src="https://www.youtube.com/embed/U6WU-Z7gCI0?controls=0" title="울산")

                    .swiper-button-prev
                        span prev
                    .swiper-button-next
                        span next

        section#contents.contents
            span(data-aos="contents-line")
            span(data-aos="contents-line")
            header
                h2(data-aos="fade-up") WHY NOT #[strong CONTENTS]
                p(data-aos="fade-up" data-aos-delay=100) 고객의 일상에 즐거운 변화를 만드는 유플러스의 활동을 소개합니다.

            .tab
                -
                    const contentsList = [
                        {
                            title: '유독 Behind 화보',
                            content: '유독 ~ 끌리는 <br>유플러스 모델 손석구의 Behind 화보 대공개',
                            link: 'https://udokgallery.lguplus.com',
                            linkName: '유독 Behind 화보 보러가기'
                        },
                        {
                            title: '브랜드 화보',
                            content: '뻔하지 않은 생각으로 일상의 즐거움을 만들어가는 <br> 사람들의 STORY <strong>WHY NOT 브랜드화보 !</strong>',
                            link: 'https://www.instagram.com/magazine_whynot',
                            linkName: '영상 보러 보러가기'
                        },
                        {
                            title: '와이낫크루',
                            content: '대한민국 숨겨진 명소를 찾아 <br> 선넘는 즐거움을 제시하다!',
                            link: 'https://www.youtube.com/watch?v=y_XMQBYcCtk&list=PLrpBDj0lFe8gQuLfpR54BARC0g5-YTHCr',
                            linkName: '영상 보러 보러가기'
                        },
                        {
                            title: '와이낫송',
                            content: '선 넘는 도전을 응원하는 <br> 본업천재 와이낫크루의 HOT한 신곡!',
                            link: 'https://youtu.be/CXLuNiVMNlc',
                            linkName: '영상 보러 보러가기'
                        },
                        {
                            title: '캐치유',
                            content: '유플러스 고객들의 <br> 솔직한 찐소리를 찾아서!',
                            link: 'https://www.youtube.com/watch?v=gSEWgbrAgfg&list=PLrpBDj0lFe8hKcV6xlVmS2qY0CuP7lsvP',
                            linkName: '영상 보러 보러가기'
                        },
                        {
                            title: '도전은행',
                            content: '나의 도전이 세상이 자산이 되는',
                            link: 'https://www.youtube.com/watch?v=O02bX3vPXE8',
                            linkName: '영상 보러 보러가기'
                        }
                    ]

                +tabNav('contents', contentsList.map(item => item.title))
                div.tab__content
                    each item, index in contentsList
                        +tabPanel('contents', index + 1)
                            div.textbox
                                p!= item.content
                                h3!= item.title
                                p
                                    a(href=`${item.link}`)!= item.linkName

        section#collaboration.collaboration
            header
                h2(data-aos="fade-up") 선 넘는 #[strong COLLABORATION]
                p(data-aos="fade-up" data-aos-delay=100) 일상의 변화를 가져올 선 넘는 즐거운 콜라보

            -
                const collaborationList = [
                    {
                        title: '유플러스 × 때껄룩',
                        content: '일상의 즐거움을 위한 <br> 통신사의 선 넘는콜라보',
                        link: 'https://youtu.be/V-Q9SucX1wI',
                    },
                    {
                        title: '유플러스 × 프릳츠',
                        content: '가장 한국적인 커피 브랜드 프릳츠와 <br> 선 넘는 콜라보',
                        link: '',
                    },
                    {
                        title: '유플러스 × 모나미',
                        content: '필기구의 대명사 국민 브랜드 모나미와 <br> 선 넘는 콜라보',
                        link: '',
                    },
                    {
                        title: '유플러스 × 복순도가',
                        content: '통신사가 막걸리를? 대한민국 대표 손 막걸리 <br> 복순도가와 선 넘는 콜라보 ',
                        link: '',
                    },
                    {
                        title: '유플러스 × 단하',
                        content: '전통과 현대를 넘나드는 한복 브랜드와  <br> 선 넘는 콜라보!',
                        link: '',
                    },
                    {
                        title: '유플러스 × 곤지암 디퓨저',
                        content: '자연의 향을 담은 <br> 선 넘는 콜라보!',
                        link: '',
                    }
                ]

            ul
                each item in collaborationList
                    li
                        if item.link
                            a(href=`${item.link}` target="_blank")
                                h3!= item.title
                                p!= item.content
                        else
                            div
                                h3!= item.title
                                p!= item.content


        section#road-v1.modal.modal-road
            .modal__backdrop
            .modal__dialog
                .modal__container
                    .modal-road__title
                        h2.
                            와이낫 크루가 추천하는
                            #[span 와이낫 로드 #[em 춘천]]
                    .modal-road__content
                        div.modal-road__item
                            h3 레고랜드 코리아 리조트
                            ul
                                li(style="background-image: url('/assets/images/img_modal_1_item_1.jpg')")
                                li(style="background-image: url('/assets/images/img_modal_1_item_2.jpg')")

                            h4 춘천 1편 [레고랜드]
                            p.
                                #[strong 주소지] 강원 춘천시 하중도길 128   레고랜드 코리아 리조트 <br>
                                어린이와 가족들을 위한 최고의 LEGO 국내 첫 글로벌 테마파크
                        div.modal-road__benefit-box
                            p.
                                #[strong 유플러스 멤버십 혜택 <br> #[span 레고랜드 코리아 1일 이용권 20% 상시 할인]] <br>
                                주중 20% 주말 10% 할인 본인 포함 동반 4인까지 최대 48,000원 할인

                        div.modal-road__item
                            h3 평양 막국수 & 혜정 닭갈비
                            ul
                                li(style="background-image: url('/assets/images/img_modal_1_item_3.jpg')")
                                    h4 춘천 2편 <평양 막국수>
                                    p #[strong 주소지] 강원 춘천시 명주길5번길 13-1
                                    p.
                                        #[strong 인기메뉴] 막국수, 감자전 <br>
                                        안 먹어보면 후회하는 감칠맛이 좋은 막국수
                                li(style="background-image: url('/assets/images/img_modal_1_item_4.jpg')")
                                    h4 춘천 2편 <혜정 닭갈비>
                                    p #[strong 주소지] 강원 춘천시 금강로62번길 11-1
                                    p.
                                        안 먹어본 사람은 있어도 한번만 <br>
                                        먹어본 적 없다는 그 맛! <br>
                                        착한 가격에 푸짐한 양을 혜정 닭갈비
                                    div.modal-road__benefit-box
                                        p.
                                            #[strong 유플러스 멤버십 혜택] <br>
                                            유플러스 멤버십 회원 1,000원 당 <br>
                                            100원 할인 (최대 2만원 할인)

                        section.modal-road__benefit
                            h3 유플러스 고객을 위한 선 넘는 <춘천> 멤버십 혜택
                            ul
                                li(style="background-image: url('/assets/images/img_modal_1_list_1.jpg')")
                                    h4 레고랜드 코리아
                                    p.
                                        #[strong #[span 1일 이용권 20% 상시 할인] <br> *주중 20%,주말 10%할인 <br>  본인포함동반 4인까지] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_1_list_2.jpg')")
                                    h4 혜정 닭갈비
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_1_list_3.jpg')")
                                    h4 수플레
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_1_list_4.jpg')")
                                    h4 처방전
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_1_list_5.jpg')")
                                    h4 불란서 홍차
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_1_list_6.jpg')")
                                    h4 오가는정과
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                        div.modal-road__benefit-box.modal-road__benefit-box2
                            p.
                                #[strong 멤버십 혜택 이용 방법] <br>
                                1. 와이낫로드 유플러스 멤버십 zone에서 제휴 매장 확인하기 <br>
                                2. 와이낫로드 제휴 매장 방문하기 <br>
                                3. 결제 시 멤버스앱 > 바코드 제시하고 할인받기

                    .modal__close
                        button.modal__close-button(type="button")
                            span.modal__close-text 닫기

        section#road-v2.modal.modal-road
            .modal__backdrop
            .modal__dialog
                .modal__container
                    .modal-road__title
                        h2.
                            와이낫 크루가 추천하는
                            #[span 와이낫 로드 #[em 부산]]
                    .modal-road__content
                        div.modal-road__item
                            h3 부산 해운대
                            ul
                                li(style="background-image: url('/assets/images/img_modal_2_item_1.jpg')")
                                    h4 부산 1편 [해운대 해수욕장]
                                    p.
                                        주변의 빼어난 자연 경관과 어우러진 <br>
                                        전국 제일의 해수욕
                                    p.
                                        2020, 2021년의 경우 <br>
                                        코로나로 인해 축제가 취소되었으나 <br>
                                        2022년에 다시 개최됨
                                li(style="background-image: url('/assets/images/img_modal_2_item_2.jpg')")
                                    h4 부산 1편 [투어지]
                                    p.
                                        #[strong 주소지] 부산 해운대구 APEC로 30 벡스코 <br>
                                        제2전시장 1층 108호 투어지
                                    p.
                                        타는 순간 여행이 되는, 좋은 친환경 퍼스널 <br>
                                        모빌리티 투어지!
                                    div.modal-road__benefit-box
                                        p.
                                            #[strong 유플러스 멤버십 혜택] <br>
                                            유플러스 멤버십 회원 20% 할인

                        div.modal-road__item
                            h3 부산 엑스 더 스카이

                            ul
                                li(style="background-image: url('/assets/images/img_modal_2_item_3.jpg')")
                                li(style="background-image: url('/assets/images/img_modal_2_item_4.jpg')")
                            h4 부산 2편 [부산 엑스 더 스카이]
                            p.
                                #[strong 주소지] 부산 해운대구 달맞이길 30 <br>
                                부산 최고의 랜드마크이자 부산 전경을 한눈에 담을 수 있는 하늘 위의 바다
                        div.modal-road__benefit-box
                            p.
                                #[strong 유플러스 멤버십 혜택] <br>
                                유플러스 멤버십 회원 전망대 입장료 25% 할인 동반 1인까지 현장 할인

                        section.modal-road__benefit
                            h3 유플러스 고객을 위한 선 넘는 <부산> 멤버십 혜택

                            ul
                                li(style="background-image: url('/assets/images/img_modal_2_list_1.jpg')")
                                    h4 엑스 더 스카이 전망대
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 전망대 입장료 25% 할인]] <br>
                                        (동반 1인까지 현장 할인 가능)
                                li(style="background-image: url('/assets/images/img_modal_2_list_2.jpg')")
                                    h4 투어지
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 20% 할인]]
                                li(style="background-image: url('/assets/images/img_modal_2_list_3.jpg')")
                                    h4 수백진국
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_2_list_4.jpg')")
                                    h4 해운대시장산곰장어
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_2_list_5.jpg')")
                                    h4 마산 이모집
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_2_list_6.jpg')")
                                    h4 바다횟집
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                        div.modal-road__benefit-box.modal-road__benefit-box2
                            p.
                                #[strong 멤버십 혜택 이용 방법] <br>
                                1. 와이낫로드 유플러스 멤버십 zone에서 제휴 매장 확인하기 <br>
                                2. 와이낫로드 제휴 매장 방문하기 <br>
                                3. 결제 시 멤버스앱 > 바코드 제시하고 할인받기

                    .modal__close
                        button.modal__close-button(type="button")
                            span.modal__close-text 닫기

        section#road-v3.modal.modal-road
            .modal__backdrop
            .modal__dialog
                .modal__container
                    .modal-road__title
                        h2.
                            와이낫 크루가 추천하는
                            #[span 와이낫 로드 #[em 인천]]
                    .modal-road__content
                        div.modal-road__item
                            h3 개항로 통닭
                            ul
                                li(style="background-image: url('/assets/images/img_modal_3_item_1.jpg')")
                            h4 인천 1편 [개항로 통닭]
                            p #[strong 주소지] 인천 중구 참외전로 164
                            p.
                                #[strong 인기메뉴] 오리지날 통닭, 치즈 통닭, 이태리 통닭, 반반 통닭 등 <br>
                                레트로 감성이 물씬 풍기는 세대 구별 없이 어울려 즐기는 전기 구이 통닭집
                        div.modal-road__item
                            h3 국제 롤러스케이트장
                            ul
                                li(style="background-image: url('/assets/images/img_modal_3_item_2.jpg')")
                            h4 인천 2편 [국제 롤러스케이트장]
                            p.
                                #[strong 주소지] 인천 서구 청라에메랄드로 99 <br>
                                아이들도 어른들도 노래에 맞춰 롤러타기를 즐길 수 있는 레트로 롤러장

                        section.modal-road__benefit
                            h3 유플러스 고객을 위한 선 넘는 <인천> 멤버십 혜택
                            ul
                                li(style="background-image: url('/assets/images/img_modal_3_list_1.jpg')")
                                    h4 꽁커피
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_3_list_2.jpg')")
                                    h4 다락
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_3_list_3.jpg')")
                                    h4 서니구락부
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_3_list_4.jpg')")
                                    h4 스푼빌
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)

                        div.modal-road__benefit-box.modal-road__benefit-box2
                            p.
                                #[strong 멤버십 혜택 이용 방법] <br>
                                1. 와이낫로드 유플러스 멤버십 zone에서 제휴 매장 확인하기 <br>
                                2. 와이낫로드 제휴 매장 방문하기 <br>
                                3. 결제 시 멤버스앱 > 바코드 제시하고 할인받기

                    .modal__close
                        button.modal__close-button(type="button")
                            span.modal__close-text 닫기

        section#road-v4.modal.modal-road
            .modal__backdrop
            .modal__dialog
                .modal__container
                    .modal-road__title
                        h2.
                            와이낫 크루가 추천하는
                            #[span 와이낫 로드 #[em 울산]]
                    .modal-road__content
                        div.modal-road__item
                            h3 장생포 고래문화마을
                            ul
                                li(style="background-image: url('/assets/images/img_modal_4_item_1.jpg')")
                            h4 울산 1편 [장생포 고래문화마을]
                            p #[strong 주소지] 울산 남구 장생포고래로 244
                            p.
                                장생포 고래잡이어촌의 모습을 그대로 재현했으며 고래 광장, 장생포 옛마을, <br>
                                선사시대 고래마당, 고래 조각 정원, 수생 식물원 등 다양한 <br>
                                테마와 이야기를 담은 공원을 둘러볼 수 있는 공간
                        div.modal-road__item
                            h3 언양불고기한마당한우촌 & 복순도가
                            ul(style="display:flex; justify-content:space-between; grid-gap:inherit;")
                                li(style="background-image: url('/assets/images/img_modal_4_item_2.jpg')")
                                    h4 울산 2편 [언양불고기한마당한우촌]
                                    p #[strong 주소지] 울산 울주군 언양읍 웃방천5길 10
                                    p.
                                        #[strong 인기메뉴] 갈비살 육회, 언양원조 참숯불고기 <br>
                                        두말이 필요 없는 울산 최고의 언양 불고기를 <br>
                                        즐길 수 있는 한우 암소 전문점
                                    div.modal-road__benefit-box
                                        p.
                                            #[strong 유플러스 멤버십 혜택] <br>
                                            유플러스 멤버십 회원 1,000원 당 <br>
                                            100원 할인 (최대 2만원 할인)

                                li(style="background-image: url('/assets/images/img_modal_4_item_3.jpg')")
                                    h4 울산 2편 [복순도가]
                                    p #[strong 주소지] 울산 울주군 상북면 향산동길 48
                                    p.
                                        울산을 대표하는 천연 탄산 손막걸리 양조장, <br>
                                        복순도가

                        section.modal-road__benefit
                            h3 유플러스 고객을 위한 선 넘는 <울산> 멤버십 혜택
                            ul
                                li(style="background-image: url('/assets/images/img_modal_4_list_1.jpg')")
                                    h4 강변수구레국밥
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_4_list_2.jpg')")
                                    h4 소소원
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_4_list_3.jpg')")
                                    h4 수산물직판장태화점
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_4_list_4.jpg')")
                                    h4 이조참숯불갈비
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_4_list_5.jpg')")
                                    h4 할머니의 순두부
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_4_list_6.jpg')")
                                    h4 한마당한우촌
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                        div.modal-road__benefit-box.modal-road__benefit-box2
                            p.
                                #[strong 멤버십 혜택 이용 방법] <br>
                                1. 와이낫로드 유플러스 멤버십 zone에서 제휴 매장 확인하기 <br>
                                2. 와이낫로드 제휴 매장 방문하기 <br>
                                3. 결제 시 멤버스앱 > 바코드 제시하고 할인받기

                    .modal__close
                        button.modal__close-button(type="button")
                            span.modal__close-text 닫기

        section#road-v5.modal.modal-road
            .modal__backdrop
            .modal__dialog
                .modal__container
                    .modal-road__title
                        h2.
                            와이낫 크루가 추천하는
                            #[span 와이낫 로드 #[em 서울]]
                    .modal-road__content
                        div.modal-road__item
                            h3 LG 유플러스 마곡 사옥
                            ul
                                li(style="background-image: url('/assets/images/img_modal_5_item_1.jpg')")
                                li(style="background-image: url('/assets/images/img_modal_5_item_2.jpg')")

                            h4 서울 1편 [LG 유플러스 마곡 사옥]
                            p.
                                #[strong 주소지] 서울 강서구 마곡중앙8로 71 <br>
                                마곡에 위치한 LG 유플러스의 마곡 사옥으로 LG아트센터를 보유

                        section.modal-road__benefit
                            h3 유플러스 고객을 위한 선 넘는 <서울> 멤버십 혜택
                            ul
                                li(style="background-image: url('/assets/images/img_modal_5_list_1.jpg')")
                                    h4 공병득 쉐프
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_5_list_2.jpg')")
                                    h4 보나세라 오가닉
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)
                                li(style="background-image: url('/assets/images/img_modal_5_list_3.jpg')")
                                    h4 일빠네
                                    p.
                                        #[strong LG U+ 멤버십 회원 결제 시 <br> #[span 1,000원당 100원할인]] <br>
                                        (최대 2만원까지 할인)

                        div.modal-road__benefit-box.modal-road__benefit-box2
                            p.
                                #[strong 멤버십 혜택 이용 방법] <br>
                                1. 와이낫로드 유플러스 멤버십 zone에서 제휴 매장 확인하기 <br>
                                2. 와이낫로드 제휴 매장 방문하기 <br>
                                3. 결제 시 멤버스앱 > 바코드 제시하고 할인받기


                    .modal__close
                        button.modal__close-button(type="button")
                            span.modal__close-text 닫기
        footer.footer
                    div.footer__wrap
                        div
                            h1 (주)엘지유플러스
                            p
                                a(href="https://www.lguplus.com/") LG 유플러스 홈페이지 가기
                        div
                            address 서울특별시 용산구 한강대로 32
                            p 대표이사 : 황현식
                        div
                            p 사업자등록번호 : 220-81-39938
                            p 통신판매신고 제 2015-서울용산-00481호
                                a(href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2208139938" target="_blank") 사업자 정보 확인
                        p Copyright &copy; LG Uplus Corp. All Rights Reserved.